body {
    margin: 0;
    background: linear-gradient(to right, #1a1d1f, #24282e);
    color: aliceblue;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    padding-bottom: 50px; /* Para evitar que el footer se solape con el contenido */
}

header {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #33435a;
}

header img {
    display: block;
    margin: 0 auto;
    width: 100%;
    max-width: 250px;
}

header h1 {
    text-align: center;
    margin-bottom: 20px;
}

header p {
    text-align: justify;
}

.team, .projects {
    width: 90%;
    margin: 20px auto;
    padding: 20px;
    border-radius: 10px;
    background-color: #33435a;
}

.team h2, .projects h2 {
    text-align: center;
    color: #fff;
}

.team ul, .projects ul {
    padding: 0;
    list-style: none;
}

.team li, .projects li {
    background-color: #3a5664;
    color: #fff;
    padding: 10px;
    margin: 5px;
    border-radius: 5px;
    text-align: center;
}

.team li::before, .projects li::before {
    content: attr(data-rank);
    margin-right: 10px;
}

.projects a {
    color: #fff;
    text-decoration: none;
}

footer {
    text-align: center;
    background-color: #33435a;
    padding: 10px;
    color: #fff;
    position: fixed;
    width: 100%;
    bottom: 0;
    display:flow-root;
    margin-top: 20rem;
}
