body {
    margin: 0;
    background: linear-gradient(to right,#1a1d1f, #24282e); /*COLORES OG #2c353b | #434f64*/
    color:aliceblue;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    overflow:visible;


}

:root{
    --colorBorde: #518cad;
    --colorBorde2: #1f2b3d;

    --colorFondo1: #33435a;
    --colorFondo2: #25354d;
}


.inicio {

    text-align: center;
    align-items: center;
    margin-top: 2rem;

}

.titulo {
    background: linear-gradient(to right, #3a5664, #333c4b);
    text-align: center;
    align-items: center;
    padding: 0.4rem;
    max-height: 90px;
    max-width: 20rem;
    border-radius: 0.9rem;
    margin-left: auto;
    margin-right: auto;
}

.desc {
    background: linear-gradient(to right, #3a5664, #333c4b);
    text-align: center;
    align-items: center;
    padding: 0.4rem;
    max-height: 50rem;
    max-width: 55rem;
    border-radius: 0.9rem;
    margin-left: auto;
    margin-right: auto;
    font-size: 15px;
}

.repo {
    justify-content: center;
    align-items: center;
    display: flex;
}
.periodouno {
    width: 20rem;

 
}
summary {
    width: 10rem;
    text-align: center;
    display: flex;
    cursor: pointer;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    margin-bottom: 10px;
    
  }
  
  details > ul {
    list-style:decimal;

    
    display: none;
  }
  
  details[open] > ul {

    display: block;
  }
a {
    text-decoration: none;
    color: rgb(255, 255, 255);
}

 li {
    text-align: center;
    border-radius: 5rem;
    background-color: rgb(40, 92, 40);
    margin-left: 1rem;
    margin-bottom: 1rem;
 }
  .periodouno[open] summary{
    transition: background-color 0.9s ease;
    background-color: rgb(69, 94, 139);
  }
  .info[open] summary {
    transition: background-color 0.9s ease;
    background-color: rgb(62, 125, 150);
  }
  .social[open] summary {
    transition: background-color 0.9s ease;
    background-color: rgb(116, 127, 223);
  }
  .ciencia[open] summary {
    transition: background-color 0.9s ease;
    background-color: rgb(38, 117, 35);
  }
  .mate[open] summary {
    transition: background-color 0.9s ease;
    background-color: rgb(182, 67, 67);
  }
  .lengua[open] summary {
    transition: background-color 0.9s ease;
    background-color: rgb(158, 151, 54);
  }
 
  .foo {
   
    background-color: #232a35;
    color: #9db7c4;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin-top: 22rem;
    text-align: center;
    display:flow-root;
  }
  
/*
*/
