body {
  margin: 0;
  background: linear-gradient(
    to right,
    #1a1d1f,
    #24282e
  ); /*COLORES OG #2c353b | #434f64*/
  color: aliceblue;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  overflow: visible;
}

:root {
  --colorBorde: #518cad;
  --colorBorde2: #1f2b3d;

  --colorFondo1: #33435a;
  --colorFondo2: #25354d;
}

.principal {
  background-color: #344047;

  
  padding: 10px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
 
}


.logo {
  margin-left: 1rem;
  font-size: 24px;
  font-weight: bold;
}

.support-menu {
  display: flex;
  align-items: center;
}
.support-item {
  transition: color 2s ease-in;
  margin-right: 1rem;
  margin-left: 30px;
  font-size: 16px;
  
}


.support-item a:hover {
  
  color: #81a3ec;
}


.inicio {
  text-align: center;
  align-items: center;
  margin-top: 2rem;
}

.titulo {
  background: linear-gradient(to right, #3a5664, #333c4b);
  text-align: center;
  align-items: center;
  padding: 0.4rem;
  max-height: 90px;
  max-width: 20rem;
  border-radius: 0.9rem;
  margin-left: auto;
  margin-right: auto;

}

.descri {
  background: linear-gradient(to right, #3a5664, #333c4b);
  text-align: center;
  align-items: center;
  padding: 0.4rem;
  max-height: 50rem;
  max-width: 55rem;
  border-radius: 0.9rem;
  margin-left: auto;
  margin-right: auto;
  font-size: 15px;
  margin-bottom: 2rem;
}

.repo {
  align-items: center;
  justify-content: center;
  display: flex;
}
.periodouno {
  width: 20rem;
}
summary {
  width: 6rem;
  align-items: center;
  text-align: center;

  display: block;
  cursor: pointer;
  padding: 10px;
  border: 1px solid #ccc;
  border-radius: 5px;
  margin-bottom: 10px;
}

details > ul {
  list-style: decimal;
  display: none;
}

details[open] > ul {
  margin-left: 4.3rem;
  display: block;
}
a {
  text-decoration: none;
  color: rgb(255, 255, 255);
}

.desc {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  padding: 0.3rem;
  text-align: center;
  border-radius: 1rem;
  background-color: rgb(40, 92, 40);
  margin-left: -7rem;
  margin-bottom: 1rem;
}

.inf {
  background: linear-gradient(to right, #3a5664, #333c4b);
  text-align: center;
  align-items: center;
  padding: 0.1rem;
 
  max-width: 25rem;
  border-radius: 0.9rem;
  margin-top: 7rem;
  margin-left: auto;
  margin-right: auto;
}
.intitulo {
font-size: 1.5rem;
}
.aviso1 {
  background-color: var(--colorBorde);
  margin: 1rem;
  border-radius: 10rem 1rem;
 

  color: #ffffff;
}

.cosas {
  margin-bottom: 1px;
  font-size: small;
  color: #c8ffcf;
}
.fecha {
  color: #2a9b4f;
  font-size: small;
}

.periodouno[open] summary {
  transition: background-color 0.9s ease;
  background-color: rgb(69, 94, 139);
}
.info[open] summary {
  transition: background-color 0.9s ease;
  background-color: rgb(62, 125, 150);
}
.social[open] summary {
  transition: background-color 0.9s ease;
  background-color: rgb(116, 127, 223);
}
.ciencia[open] summary {
  transition: background-color 0.9s ease;
  background-color: rgb(38, 117, 35);
}
.mate[open] summary {
  transition: background-color 0.9s ease;
  background-color: rgb(182, 67, 67);
}
.lengua[open] summary {
  transition: background-color 0.9s ease;
  background-color: rgb(158, 151, 54);
}
.modulo[open] summary {
  transition: background-color 0.9s ease;
  background-color: rgb(66, 128, 243);
}

.foo {
  padding: 1rem;
  background-color: #232a35;
  color: #9db7c4;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
  margin-top: 22rem;
  text-align: center;
  display: blocks;
}


.zeta {
  animation: aydio 2s infinite ease;
}
@keyframes aydio {
  0% {
    background-position: 0rem;
    color: #b5c9ec;
  }

  50% {
    background-position: 10rem;
    color: #3e97eb;
  }

  100% {
    background-position: 30rem;
    color: #b5c9ec;
  }
}
/*

*/
@media only screen and (max-width: 600px) {
  /* Estilos para pantallas pequeñas */
  .logo {
   font-size: 15px;
   margin-left: 0;
  }
  .support-item {
    margin-right: 0;
    margin-left: 1rem;
    font-size: 12px;
  }
  body {
    
      font-size: 14px;
  }
}
