:root { /*VARIABLES PARA COLORES*/
    --colorFondo: #282c35;
    --colorAccion: #9d4ccc;
    --colorRedes: #496999;
}



body {
    margin: 0;
    padding: 0;
    background-color: var(--colorFondo);
    color: #ffffff;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    
}


.profile-img {
    border-color: #3d4655;
    background-color: #4f5d74;
    border-radius: 50%;
    width: 150px;
    height: 150px;
    object-fit: cover;
    margin-bottom: 20px;
    transition: background-color 0.6s ease;
}

.profile-img:hover {
    background-color: var(--colorAccion);
}

header {
    text-align: center;
    padding: 50px 0;
}

h1 {
    margin: 0;
    font-size: 36px;
}

.subtitle {
    margin: 10px 0;
    font-size: 18px;
}

.bio {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    background-color: #37404d;
    border-radius: 10px;
    box-shadow: 0 0 30px rgba(0, 0, 0, 0.5);
}

.bio p {
    font-size:medium;
}

.redes {
    display: inline-block;
    padding: 21px 21px;
    border: none;
    background-color: #37404d;
    border-radius: 80%;
    cursor: pointer;
    transition: background-color 0.3s ease;
    
}



.redes.github {
    background-image: url('../img/github.png'); 
    background-repeat: no-repeat; /* Evita que la imagen se repita */
    background-position: center; 
    background-size: 34px;
    transition: box-shadow 0.5s ease;
    transition: background-color 0.5s ease;
    box-shadow: 0px;
    
}

.redes.insta {
    background-image: url("../img/insta.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 30px;
    transition: box-shadow 0.5s ease;
    transition: background-color 0.5s ease;
}


.redes.github:hover {
    box-shadow: 0px -5px 20px 0px rgb(255, 255, 255), 0px 5px 20px 0px rgb(119, 119, 119);
    background-color: var(--colorRedes);

}

.redes.insta:hover {
    box-shadow: 0px -5px 20px 0px rgb(255, 255, 255), 0px 5px 20px 0px rgb(119, 119, 119);
    background-color: var(--colorRedes);

}

a {
    text-decoration: none; /* Elimina el subrayado */
    color: inherit; /* Usa el color heredado para los enlaces */
}
h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.projects {
    padding: 10px 0;
    background-color: #37404d;
    margin: 60px;
    border-radius: 30px;
    box-shadow: 0 0 30px black;
}

.titulopro {
    text-align: center;
}

.project {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
    background-color: #4f5d74;
    padding: 20px;
    border-radius: 20px;
    
}



.project-img {
    width: 200px;
    height: 150px;
    object-fit: cover;
    border-radius: 10px;
    margin-right: 20px;
}

.project-details {
    flex: 1;
}

.project h3 {
    font-size: 24px;
    margin-bottom: 10px;
}

.project p {
    color: #b0b0b0;
}
