header {
    background-color: #3f3f3f;
    padding: 0.6rem 2rem;
    color: aliceblue;
}



header section {
    display: flex;
    float: right;
}
header h2 {
    margin: 10px;
}

.aa {
    transition: color 0.3s ease;
    text-decoration: none;
    color: aliceblue;
    margin-left: 40px;
    font-size: large;
}

.inicio {
    cursor: pointer;
    transition: color 0.3s ease;
}


header a:hover{
    color: #488cda;
    
}

header a span:hover{
    color: red;
}


body {
    margin: 0;
    background-color: #222222;
    color: aliceblue;

}

header {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}



.imagen{
   width: 50px;
   float: left;
   margin-right: 5px;
}


/* CUADRO 1 INFORMACION */
.present {
    transition: border-radius 0.3s ease;
    border-radius: 15px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 350px;
    background-color: #3f3f3f;
    padding: 4px;


 
    
}





/* CUADRO 1 INFORMACION */
.presents {
    display: flex;
    justify-content: space-between; /* Espacio entre los cuadros */
    align-items: center; /* Centra verticalmente */
    margin: 40px auto; /* Centra horizontalmente */
    max-width: 800px; 
    margin-top: 50px;
    cursor: default;
  }

  /* CUADRO 2 INFORMACION */
.present2 {
    transition: border-radius 0.3s ease;
    border-radius: 10px;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
    width: 350px;
    background-color: #3f3f3f;
    padding: 4px;
    cursor: default;
  


    
}
  /* CUADRO 1 REACCION */
.present:hover {
    border-radius: 30px;
}

/* CUADRO 2 REACCION */
.present2:hover {
    border-radius: 30px;

}

/* CUADRO PROYECTOS */
.projects {
    clear:both;
    display: block;
    justify-items: center;
    text-align: center;
    /* justify-content:left; */
    background-color: #3f3f3f;
    padding: 15px;
    border-radius: 30px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    margin: 20px;
    border-color:#488cda 1px;
}

.tituloproyecto{ 
    text-align: center;
}

.forkitext a {
    text-decoration: double;
    color: #488cda;
}

.projects h3 {
    font-size: medium;
}
.forkiimg {
    width: 10%;
}

.irandom {
    width: 10%;
    margin-top: 50px;
}



/* CSS VIEJO */
/*
body {
    font-family: Arial, sans-serif;
    background-color: #353434;

    text-align: center;
    padding: 100px;
}

h1 {
    color: #F0FFFF;
    font-size: 50px;
}

h2 {
    font-size: 20px;
    color: #000000;
}

table,
th,
td {
    border: 1px solid #ffffff;
    color: #F0FFFF;


}
*/



/*DISEÑOS ANTIGUOS*/
/*NOTAS ESPECIALES
- #364552 color gris
- 0077BE color embed Forki

*/
/*

.tablapupu {
    margin: 0 auto;
}

.present1 {
    border: 2px solid #000000;
    text-align: center;
    font-size: large;
    background-color: #CCCCCC;
    max-width: 400px;
    margin: 0; 
    padding: 4px;
    margin-top: 30px;
    
} 
.present2 {
    border: 2px solid #0066bb;
    text-align: center;
    font-size: large;
    background-color: rgb(153, 182, 214);
    max-width: 400px;
    margin-left: 0;
    padding: 4px;
}/*

